body{
    height: 1500px;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.nav-Item{
display: flex;

}

.navbar{  
    width: 100%;  
    display :flex;
    vertical-align: middle;
    align-items: center;
    position: fixed;
}

.title{
    display: flex;
    font-size: 30px;
}

.navItem{
    font-size: 25px;
    padding: 0 10px ;
}

#scrolled{
    background-color: aliceblue;
}
#unScrolled{
    background-color: grey;
}


