<%- include("./header.ejs") %>
<div class="navbar">
  <div class="title"><a href="/">TBK BILISIM</a></div>
  
  <div class="nav-Items">
    <div class="navItem"><a href="/">HOME</a></div>
    <div class="navItem"><a href="/services"> SERVICES</a></div>
    <div class="navItem"><a href=""> CLINICS</a></div>
    <div class="navItem"><a href="/loginOption"> LOGIN</a></div>
  </div>
</div>
  <div class="mobile-nav">
      <div class="title"><a href="/">TBK BILISIM</a></div>
      <div class="navItem"><a href="/">HOME</a></div>
      <div class="navItem"><a href="/services">SERVICES</a></div>
      <div class="navItem"><a href="">CLINICS</a></div>
      <div class="navItem"><a href="/loginOption">LOGIN</a></div>
  </div>
  <script src="handlers/handler.js"></script>
