
     <%- include('./partials/nav.ejs') %>

  <body>
    
    <div class="index-main container-fluid">
      <div class="sectionOne">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="sectionOne-title">
              Get All Your Dental Needs at One Place
            </h1>
            <p class="sectionOne-desc">TBK Bilisim provides you access to all clinics in Turkey, allowing you to choose a clinic and dentist of your choice, and make appointments and payments online!</p>
            <div class="sectionOne-btn btn btn-primary">
              <!-- toAbout -->
              <a href="#">learn more</a>
            </div>
          </div>
          <div class="col-lg-6">
              <img class="sectionOne-img" src="images/6.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </body>