<%-include("./partials/header.ejs")%>

<div class="loginOption-main container-fluid">
    <div class="row">
        <div class="col-lg-6 text-center">
            <div class="login-wrapper w-75 m-auto border p-5 mb-5">
                <i class="fa-solid fa-user-doctor fa-10x"></i>
                <h1 class="loginOption-title pt-5 pb-5">Are you a dentist?</h1>
                <a class="btn btn-primary loginOption-btn" href="/login?type=dentist">Login!</a>
                <p>
                    don't have account?
                </p>
                <a class="btn btn-primary loginOption-btn" href="/register?type=dentist">register!</a>
            </div>
        </div>
        <div class="col-lg-6 text-center ">
            <div class="login-wrapper w-75 m-auto border p-5">
                <i class="fa-solid fa-tooth fa-10x"></i>
                <h1 class="loginOption-title pt-5 pb-5">Are you a patient?</h1>
                <a class="btn btn-primary loginOption-btn" href="/login?type=patient">Login!</a>
                <p>
                    don't have account?
                </p>
                <a class="btn btn-primary loginOption-btn" href="/register?type=patient">register!</a>
            </div>
        </div>
    </div>
</div>