<%-include("./partials/header.ejs")%>

<div class="loginOption-main container-fluid">
    <div class="row">
        <div class="col-lg-8 text-center">
            <div class="login-wrapper w-75 m-auto border p-5 mb-5">
                <i class="fa-solid fa-user-doctor fa-10x"></i>
                <h1 class="loginOption-title pt-5 pb-5"></h1>
                <form action="/login" method="post" class="">
                    Username:<input type="text" name="username">
                    Password:<input type="password" name="password">
                    <input class="btn btn-primary loginOption-btn" type="submit" value="Login!">
                </form>
                <p>
                    don't have account?
                </p>
                <a class="btn btn-primary loginOption-btn" href="/register?type=dentist">register!</a>
            </div>
        </div>
    </div>
</div>