<%-include("./partials/header.ejs")%>
    <div class="register-main">
    </div>
    <form action="/register" method="POST">
        <div class="form-container container-fluid shadow p-5">
            <h1 class="text-center pb-3">Hesap Oluştur</h1>
            <h5 style="color: red;"><%=registered%></h5>
            <input type="text" placeholder="First Name" class="form-control p-3 mb-3" name="firstName">
            <input type="text" placeholder="Last Name" class="form-control p-3 mb-3" name="lastName">
            <input type="email" placeholder="jhondoe@gmail.com" class="form-control p-3 mb-3" name="email">
            <input type="username" placeholder="username" class="form-control p-3 mb-3" name="username">
            <input type="password" placeholder="Password" class="form-control p-3 mb-3" name="password">
            <input type="text" placeholder="T.C Kimlik" class="form-control p-3 mb-3" name="kimlik">
            <h5 class="p-2 mb-3">Fotoğraf Yükle:</h5> 
            <input type="file" class="p-3 mb-3" name="img">
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Kayıt Ol</button>
            </div>
        </div>
    </form>
