<%-include("./partials/header.ejs")%>

<div class="loginOption-main container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="text-center">
                <div class="login-wrapper w-75 m-auto border p-5 mb-5">
                    <i class="fa-solid fa-user-doctor fa-10x"></i>
                    <h1 class="loginOption-title pt-5 pb-5">Register as Dentist</h1>
                    <a class="btn btn-primary loginOption-btn" href="/registerDentist?type=dentist">Click Here</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="text-center">
                <div class="login-wrapper w-75 m-auto border p-5 mb-5">
                    <i class="fa-solid fa-tooth fa-10x"></i>
                    <h1 class="loginOption-title pt-5 pb-5">Register as patient</h1>
                    <a class="btn btn-primary loginOption-btn" href="/registerPatient?type=patient">Click Here</a>
                </div>
            </div>
        </div>
    </div>
</div>